<div class='add-user'>
    <a href="adduser" > Add User</a>
</div>
<div>
    <h4>All Users </h4>
    <table class="table table-hover">
        <tr>
            <th> Srno. </th>
            <th> Name </th>
            <th> Email </th>
            <th> Phone </th>
            <th> Gender </th>
            <th> Create Date </th>
            <th> Action  </th>
        </tr>

        <tr *ngFor="let user of records">
            <td> {{ user._id }} </td>
            <td> {{ user.name }} </td>
            <td> {{ user.email }} </td>
            <td> {{ user.phone }} </td>
            <td> {{ user.gender }} </td>
            <td> {{ user.create_date }} </td>
            <td>
                <a class="badge badge-warning" routerLink="/user/{{ user._id }}"> Edit </a>  
                <button class="badge badge-danger mr-2" (click)="deleteUser(user._id)">
                    Delete
                </button> 
            </td>
        </tr>
    </table> 
  </div>