<div class='add-user'>
    <a href="adduser" > Add User</a>
</div>
<div>
    <h4>All Users </h4>
    <table class="table table-hover">
        <tr>
            <th> Srno. </th>
            <th> Name </th>
            <th> Username  </th>
            <th> Phone </th>
            <th> Create Date </th>
            <th> Action  </th>
        </tr>

        <tr *ngFor="let user of users">
            <td> {{ user.id }} </td>
            <td> {{ user.firstname }} {{ user.last_name }} </td>
            <td> {{ user.username }} </td>
            <td> {{ user.phone }} </td>
            <td> {{ user.created_at }} </td>
            <td>
                <a class="badge badge-warning" routerLink="/user/{{ user.id }}"> Edit </a>  
                <button class="badge badge-danger mr-2" (click)="deleteUser(user.id)">
                    Delete
                </button> 
            </td>
        </tr>
    </table> 
  </div>